<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <section>
            <div class="container">
                <div class="row">
                    <%@include file="../jsp/LeftMenu.jsp" %>
                    <div class="col-sm-9 padding-right">
                        <div class="features_items"><!--features_items-->
                            <h2 class="title text-center">Items</h2>

                            <c:forEach var="row" items="${requestScope.item}">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <a href="<c:url value="/ItemDescription?id=${row.itemId}&type=${row.itemType}" />" >
                                                    <img src="${row.imageBase64Binary}" alt="" />
                                                </a>
                                                <h2>${row.itemPrice}</h2>
                                                <p>${row.itemName}</p>
                                                <a href="EditItem?itemId=${row.itemId}&type=${row.itemType}"class="btn btn-default add-to-cart">Edit</a> 
                                                <a href="DeleteItem?itemId=${row.itemId}&type=${row.itemType}"class="btn btn-default add-to-cart">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </c:forEach>
                        </div><!--features_items-->
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
